<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/CSS/Login.css">
    <title>login</title>
</head>
<body>
    <div class="background"></div>
    <form action="/login" method="post" enctype="multipart/form-data">
        <div class="Main">
            <div class="logo">
                <img class="logo-image" src="/Image/Logo.png"/>
                <h1 class="logo-title">Photoble</h1>
            </div>
            <input name="user_id" class="id" type="text" placeholder="ID">
            <input name="password" class="pw" type="text" placeholder="Password">
            <button type="submit" class="login">join</button>
            <button class="join-member" onclick="location.href='/FRONT/html/join-member.html'">회원가입</button>
        </div>
    </form>
</body>
</html>