<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="=/css/Login.css">
    <title>login</title>
</head>
<body>
    <div class="background"></div>
    <div class="Main">
        <div class="logo">
            <img class="logo-image" src="/image/로고아이콘.png"/>
            <h1 class="logo-title">Photoble</h1>
        </div>
        <input class="id" type="text" placeholder="ID">
        <input class="pw" type="text" placeholder="Password">
        <button class="login">login</button>
        <button class="join-member" onclick="location.href='/FRONT/html/join-member.html'">회원가입</button>
    </div>
</body>
</html>