<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/CSS/MyPage_notice.css">
    <link rel="stylesheet" type="text/js" href="/JS/MyPage_notice.js">
    <title>Photoble</title>
</head>
<body>
    <div class="nav-bar">
        <div class="logo">
            <img class="logo-image" src="/Image/Logo.png"/>
            <h1 class="logo-title">Photoble</h1>
        </div>
        <div class="switch-page">
            <button class="switch-notice" onclick="location.href='/mypage/notice'">게시글</button>
            <button class="switch-info" onClick="location.href='/mypage/info'">내정보</button>
        </div>
        <div class="division-line1"></div>
    </div>
    <div class="Main">
        <div class="division-line2"></div>
        <div class="division-line3"></div>
        <div class="search">
            <input class="search-input" type="text" placeholder="검색할 내용을 입력하세요">
            <img class="search-img" src="/image/검색 아이콘.png">
        </div>
        <table class="content-list">
            <div class="content-group">
                <div class="content">
                    <button class="fix" onclick="locatoin.href='www.naver.com'">수정</button>
                    <button class="delete" onclick="locatoin.href=''">삭제</button>
                </div>
                <div class="content">
                    <button class="fix" onclick="locatoin.href='MyPage-notice.html'">수정</button>
                    <button class="delete" onclick="locatoin.href=''">삭제</button>
                </div>
                <div class="content">
                    <button class="fix" onclick="locatoin.href='MyPage-notice.html'">수정</button>
                    <button class="delete" onclick="locatoin.href=''">삭제</button>
                </div>
                <div class="content">
                    <button class="fix" onclick="locatoin.href='MyPage-notice.html'">수정</button>
                    <button class="delete" onclick="locatoin.href=''">삭제</button>
                </div>
                <div class="content">
                    <button class="fix" onclick="locatoin.href='MyPage-notice.html'">수정</button>
                    <button class="delete" onclick="locatoin.href=''">삭제</button>
                </div>
                <div class="content">
                    <button class="fix" onclick="locatoin.href='MyPage-notice.html'">수정</button>
                    <button class="delete" onclick="locatoin.href=''">삭제</button>
                </div>
                <div class="content">
                    <button class="fix" onclick="locatoin.href='MyPage-notice.html'">수정</button>
                    <button class="delete" onclick="locatoin.href=''">삭제</button>
                </div>
                <div class="content">
                    <button class="fix" onclick="locatoin.href='MyPage-notice.html'">수정</button>
                    <button class="delete" onclick="locatoin.href=''">삭제</button>
                </div>
            </div>
        </table>
        <div class="change">
            <button class="prev-page"><</button>
            <button class="num">1</button>
            <button class="num">2</button>
            <button class="num">3</button>
            <button class="next-page">></button>
        </div>
    </div>
</body>
</html>